<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>656657507951-stte73im6rgsvbblaua68ve7785dji8p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.656657507951-stte73im6rgsvbblaua68ve7785dji8p</string>
	<key>API_KEY</key>
	<string>AIzaSyAQ4A3LMer82SjvJl2NAHLjLg3vXqjVK8Q</string>
	<key>GCM_SENDER_ID</key>
	<string>656657507951</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterGetx</string>
	<key>PROJECT_ID</key>
	<string>flutter-shopping-cart-d86fa</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-shopping-cart-d86fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:656657507951:ios:c453fe1d0b349b90768f9a</string>
</dict>
</plist>